


.skills1 {
  
    font-size: 25px;
    bottom:-130px;
    right:80px;
    color: rgba(6, 14, 80, 0.626);
    margin-left: 20px;
}


.html-css{

    width: 230px;
    margin-top:-25px;
    margin-left: 20px;
   right: 90px;
     border: 2px solid #000000;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    padding-top: 15px;
  
}
 .line-1 {
    border-bottom: 3px solid rgb(0, 0, 0);
     margin-bottom: 90px; 
   }
   .line-2 {
     border-bottom: 3px solid rgb(0, 0, 0); 
     margin-bottom: 90px;
   }

   .background1 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    
  background-image: url(images/IMG_1430.JPG) ;
background-size: cover;
  background-position: center;
  z-index: -1; 
   }

   .title1{
   
 
  color: rgba(21, 120, 195, 0.46);
    font-size: 80px;
    margin-top: -100px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

   .photo{
    width: 350px;
  height: 350px;
  object-fit: cover;
    margin-top: -20px;
    margin-left: 18px;
   }

   .about-me{
    font-size: 14px;
    line-height :  0.5;
    color: rgba(1, 26, 85, 0.46);
     margin-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
   }
   .my-name{
    
  color: rgba(8, 33, 53, 0.46);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: -200px;
    margin-left: 720px;
    
   }
   
   .my-name1{
    
  color: rgba(8, 33, 53, 0.46);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: -70px;
    margin-left: 890px;

   }

  

   .container{
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
   }


   .header{
    margin: 0 auto;
    max-width: 1000px;
   }


   .footer{
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 70px;
     margin-left: 600px;
   }

   .insta{
    width: 45px;
    margin-bottom: -20px;
   }

   .tg{
    width: 35px;
    margin-top: -50px;
   }

   .rsschool-logo{
    width: 90px;
     margin-left: 190px;
   }

   .git-logo{
    width: 100px;
     margin-left: 240px;

   }

   .container-sm{
    display: flex;
  flex-direction: column;
  gap: 5px;
  margin-left: 20px;
  margin-top: -25px;
  
   }

   .contact{
    font-size: 25px;
    bottom:-130px;
    right:80px;
    color: rgba(6, 14, 80, 0.626);
    margin-left: 21px;
    font-weight: bold;

   }

   .container-nn{
    display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 120px;
  margin-top: -95px;
   }

   .ifo-about-me{
     display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 139px;
  margin-left: 50px;
   }

   .edu{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(0, 1, 9, 0.626);
    margin-top: -60px;

}

.about{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(0, 1, 9, 0.626);
    margin-top: -150px;

    /* @media (max-width: 768px) {
        font-size: 10px;
    } */
}

.lang{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(0, 1, 9, 0.626);
    margin-top: -90px;
}


  .nav-menu {
            display: flex;
            justify-content: center;
            gap: 30px;
            padding: 15px 0;
            background-color:  rgba(21, 120, 195, 0.46);
            border-bottom: 1px solid #e0e0e0;
            margin-bottom: 20px;
        }
        
        .nav-menu a {
            text-decoration: none;
            color: #546778;
            font-weight: bold;
            font-size: 20px;
            transition: color 0.3s;
        }
        
        .nav-menu a:hover {
            color: #748eb6;}

            .nav-menu a::after {
            content: '';
            display: block;
            width: 0;
            height: 2px;
            background: #4a6fa5;
            transition: width 0.3s;
        }
        
        .nav-menu a:hover::after {
            width: 100%;
        }

         ul{
            display: flex;
            flex-direction: column;
            gap: 30px;
         }

         .projects{
           font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(0, 1, 9, 0.626);
    margin-top: -60px;
         }

          .line-3 {
     border-bottom: 3px solid rgb(0, 0, 0); 
     margin-bottom: 100px;
   }

    .line-4 {
     border-bottom: 3px solid rgb(0, 0, 0); 
     margin-bottom: 110px;
   }


   .code{
     font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgba(0, 1, 9, 0.626);
    margin-top: -60px;
   }